@font-face {
    font-family: 'Acumin Pro';
    src: url('AcuminPro-BoldItalic.eot');
    src: url('AcuminPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('AcuminPro-BoldItalic.woff2') format('woff2'),
        url('AcuminPro-BoldItalic.woff') format('woff'),
        url('AcuminPro-BoldItalic.ttf') format('truetype'),
        url('AcuminPro-BoldItalic.svg#AcuminPro-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

