										/*Header start*/
body{
	height: 3000px;
}
.header-box{
	padding: 5px;
	width: 100%;
	position: fixed;
	top: 0px;
	background-color: lightgray;
	z-index: 100;
	
}
.logo{
	display: inline-block;
	vertical-align: middle;
	margin: 18px 92px 17px 20px;
	font-size: 13px;
	color: #FA6980;
	font-family: 'Helvetica';
	font-weight: bold;
}
.active{
	color: #343638;
}
.nav{
	display: inline-block;
	vertical-align: middle;
}

/*.header nav.nav ul li a {
	color: gray;
}
*/
.nav-ul{
	display: inline-block;
	vertical-align: middle;
}
.nav-li{
	display: inline-block;
	vertical-align: middle;
	margin-right: 27px;
	font-size: 11px;
	font-family: 'Helvetica';
	font-weight: bold;
	color: gray;


}


  /*Header end*/
  /*Section1 start*/
  .section1{
  	margin-top: 50px;
  }

  .first-container{
  	display: inline-block;
  	vertical-align: middle;
  	margin: 25px auto 58px 140px;

  }
  .title{
  	display: inline-block;
  	vertical-align: middle;
  	margin: 25px auto 40px 0px;
  	font-family: 'Helvetica';
  	font-size: 24px;
  	font-weight: bold;
  }
  .height1{
  	margin-top: 40px;
  }
  .wrapper{
	display: inline-block;
	vertical-align: middle;
	width: 360px;
	height: 350px;
	border-style: solid;
	margin-left: 140px;

}
  
.relative{
	position: relative;
  
}
.absolute{
	position: absolute;
	top: 28px;
	right: 40px;
	bottom: auto;
	left: 40px;
	font-size: 16px;
	font-weight: bold;
	color: white;
	font-family: 'Helvetica';

}
.text{
	margin: 65px 40px 66px;
	font-family: 'Acumin Pro';
	font-size: 13px;
	color: #A6ADB4;
}
.time{
	display: inline-block;
	vertical-align: middle;
	margin-left: 40px;
	margin-bottom: 40px;
}
.time2{
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 40px;
	margin-left: 10px;
	font-family: 'Acumin Pro';
	font-size: 13px;
	color: #A6ADB4;

}
